##########################
# Common files

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

#Vscode
.vscode

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# pyenv
.python-version

output
